# Example .gitignore file for your config dir.
# Ignore folders.
*.swp
*.swo
.storage
.cloud
.google.token
*.log
*.db
custom_components/*
www/community/*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
.HA_VERSION
ip_bans.yaml
secrets.yaml
known_devices.yaml

