# Example .gitignore file for your config dir.
# Ignore folders.
.storage
.cloud
.google.token
*.log
*.db

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
.HA_VERSION
ip_bans.yaml
secrets.yaml
known_devices.yaml

