{%for pi in ["brady","brees"]%}
{%for sense in ["leak", "pir", "temp"]%}
- platform: mqtt
  state_topic: /home/{{pi}}/{{sense}}
  name: {{pi}} {{sense}}
  availability_topic: /home/{{pi}}/status   
  payload_available: "online"
  payload_not_available: "offline"

{%endfor%}
{%endfor%}

- platform: command_line
  name: CPU Temperature
  command: "cat /sys/class/thermal/thermal_zone0/temp"
  unit_of_measurement: "°C"
  value_template: '{{ value | multiply(0.001) | round(1) }}'

- platform: systemmonitor
  resources:
    - type: disk_use_percent
      arg: /home
    - type: memory_use
    - type: memory_use_percent
    - type: processor_use
    - type: last_boot
    - type: network_in
      arg: eth0
    - type: network_out
      arg: eth0
