{%for pi in ["brady","brees"]%}
{%for sense in [
  {"name": "leak",
   "topic": "leak"}, 
  {"name": "pir",
   "topic": "pir"}, 
  {"name":"temperature",
   "topic":"climate",
   "template": "{{value_json.temperature}}",
   "class": "temperature"},
  {"name" : "humidity",
   "topic": "climate",
   "class": "humidity",
   "template": "{{value_json.humidity}}"
  }]%}
- platform: mqtt
  state_topic: /home/{{pi}}/{{sense.topic}}
  name: {{pi}} {{sense.name}}
  availability_topic: /home/{{pi}}/status   
  payload_available: "online"
  payload_not_available: "offline"{%if sense.template %}
  value_template: "{{sense.template}}"{%endif%}{%if sense.class %}
  device_class: {{sense.class}}{%endif%}
{%endfor%}
{%endfor%}

- platform: command_line
  name: CPU Temperature
  command: "cat /sys/class/thermal/thermal_zone0/temp"
  unit_of_measurement: "°C"
  value_template: '{{ value | multiply(0.001) | round(1) }}'

- platform: systemmonitor
  resources:
    - type: disk_use_percent
      arg: /home
    - type: memory_use
    - type: memory_use_percent
    - type: processor_use
    - type: last_boot
    - type: network_in
      arg: eth0
    - type: network_out
      arg: eth0
